/* sidebars */
.sidebar {
    width: 250px;
    height: calc(100% - 60px - 120px);
    padding: 25px;
    float: left;
    text-align: left;
}

.sidebar__element {
    font-size: 18px;
    padding: 3px;
    cursor: pointer;
}

.sidebar__element--selected {
    font-weight: bold;
    font-size: 19px;
}

.sidebar__element--done {
    color: green;
}

.sidebar__element--wrong {
    color: #C54A06;
}

.sidebar__element--wrong {
    font-weight: 800;
    color: #C31323
}
/* text areas */

.draft__title {
    font-size: 22px;
    font-weight: bold;
    margin: 12px 0;
}
.draft__subtitle {
    font-size: 18px;
    font-weight: normal;
    margin: 10px 0;
}
.draft__description {
    margin: 10px 0;
    display: block;
}

.draft-textarea {
    user-select: all !important;
    background-color: #F0F0F0;
    border: 0;
    min-width: 250px;
    width: 80%;
    min-height: 250px;
    display: block;
    padding: 5px;
    font-size: 18px;
    resize: vertical;
    max-height: 90%;
}

.draft-textarea--big {
    width: calc(100% - 10px);
    height: 561px;
}

.content--withSidebar {
    width: calc(100% - 250px);
    height: calc(100% - 60px - 120px);
    transition: 2s;
    position: relative;
}

.draft__phases-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    float: left;    
}

.draft__phases {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 2s;
}

.draft__phase {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding-right: 5px;
}

.cancel {
    background-color: #ecb5b5;
}

.cancel:hover {
    background-color: #ff7575;
}

